@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);

  --color-background: #FAFAFA;
  --color-foreground: #4B5563;
  --color-heading: #1F2937;
  
  --color-accent-blue: #BAE6FD;
  --color-accent-violet: #DDD6FE;
  --color-secondary-green: #bbf7d0;
  --color-border-subtle: #E5E7EB;
}

/* Custom Utilities */
@layer utilities {
  .glass-panel {
    @apply bg-white/70 backdrop-blur-md border border-border-subtle shadow-sm;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

html {
  scroll-behavior: smooth;
}